/*sets all element */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*styling to be applied to the entire page*/

body {
    background-image: linear-gradient(#18a5a7, #d9ecc7);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;

}

h1,
h2,
#message {

    font-family: 'Merriweather', serif;
    padding-bottom: 20px;

}



/*Style landing page*/

#home-container {
    max-width: 400px;
    width: 75%;
    min-height: 450px;
    font-size: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
    margin: 0 auto 0 auto;


}

/*Style button/ landing page*/

a#btn-play {
    text-decoration: none;


}

#btn-play {
    padding: 0px 10px 1px 10px;
    border-radius: 5px;
    border: solid 2px;
    font-size: 140%;

    color: #c70808;


}

#btn-play:hover {
    color: black;

}

/*Style game page*/

div#game-container {
    max-width: 400px;
    width: 75%;
    min-height: 350px;
    font-size: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;

    padding: 25px;
    margin: 0 auto 0 auto;

}

#game-container p {
    padding-bottom: 20px;
}

/*Style the game overview */

div#game-overview {
    margin-top: 35px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Style all button/ game page*/

div#nav-home {
    padding-top: 35px;
}

div#restart-game {
    margin-top: 35px;
}

a#btn-home,
a#restart {
    text-decoration: none;

}

#btn-home,
#restart {
    padding: 0px 10px 1px 10px;
    border-radius: 5px;
    border: solid 2px;
    color: #c70808;
    font-size: 140%;
}

#btn-home:hover,
#restart:hover {
    color: black;

}

button#rock {
    width: 60px;
    height: 60px;
    background: url("../images/rock.jpg") no-repeat center center;

    border-radius: 50%;
    border: solid 2px;
    color: #c70808;
}

button#paper {
    width: 60px;
    height: 60px;
    background: url("../images/paper.JPG") no-repeat center center;

    border-radius: 50%;
    border: solid 2px;
    color: #c70808;
}

button#scissor {
    width: 60px;
    height: 60px;
    background: url("../images/scissor.jpg") no-repeat center center;

    border-radius: 50%;
    border: solid 2px;
    color: #c70808;
}

button#scissor:hover,
button#paper:hover,
button#rock:hover {
    color: black;
}

/*Make the page responsive*/

@media screen and (min-width: 790px) and (max-width: 2090px) {
    body {
        font-size: 140%;
    }
}