body {
    background-color: azure;
}

/*index.html*/

#home-container {
    font-size: 75%;
    background: url("../images/background.jpg") no-repeat center center;
    text-align: center;
    padding: 25px;
    margin: 25px;
 
 

}

a#btn-play {
    text-decoration: none;
    
    
}

#btn-play {
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: solid 2px;
    font-size: 140%;
    background-color: #fff;
    color: #000;
    
   
}

#btn-play:hover {
    color: black;
    
 }

 /*Game style*/

div#game-container {
    font-size: 75%;
    text-align: center;
    padding: 25px;
    margin: 25px;
    
}

a#btn-home {
    text-decoration: none;
    
    
}

#btn-home {
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: solid 2px;
    font-size: 140%;
    background-color: #fff;
    color: #000;
    
    
   
}

#btn-home:hover {
    color: black;
    
 }

 #game-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
 }

 #user-choise-score {
   
 }

 #computer-choise-score {
   
 }

 #option-area {

 }

 button#rock {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("../images/rock.jpg") no-repeat center center;
 }

 button#paper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("../images/paper.JPG") no-repeat center center;
 }

 button#scissor {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("../images/scissor.jpg") no-repeat center center;
 }

 .btn-restart {
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    border: solid 2px;
    font-size: 140%;
    background-color: #fff;
    color: #000;
 }



 
 
 
 
 
 